html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  max-width: none !important;
}

